{% extends 'base.html.twig' %}

{# todo: aligner les boutons sur la verticale #}
{% block body %}
    <div class="card-group" style="display: flex; flex-direction: row; justify-content: space-between">

        {#        get langages #}
        <div class="card">
            <div class="card-header">
                <h5>Récupérer les langages:</h5>
            </div>
            <div class="card-body">
                <form action="{{ path('rjLangages') }}" method="get">
                    <button class="btn btn-primary" type="submit">Récupérer tous les langage</button>
                </form>

                {% if langages is defined %}

                    {% for langage in langages %}
                        <hr>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">id: {{ langage.id }}</li>
                            <li class="list-group-item">nom: {{ langage.nom }}</li>
                            <li class="list-group-item">caractéristiques: {{ langage.caracteristiques }}</li>
                        </ul>

                    {% endfor %}

                {% endif %}


            </div>
        </div>

        {#        get langage, langage with ide, delete #}
        {% if app.session.get("langageIds") is defined %}
            {% set langageIds = app.session.get("langageIds") %}
            <div class="card">
                <div class="card-header">
                    <h5>Langage:</h5>
                </div>
                <div class="card-body">
                    <form action="{{ path('rjLangage') }}">
                        <div class="mb-3">
                            <label class="col-form-label">id</label>
                            <select class="custom-select" name="id" required>
                                {% for id in langageIds %}
                                    <option value={{ id }}>{{ id }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <button
                                    class="btn btn-primary"
                                    type="submit"
                                    formaction="{{ path('rjLangage') }}"
                                    formmethod="get"
                            >
                                Récupérer langage
                            </button>
                        </div>

                        <div class="mb-3">
                            <button
                                    class="btn btn-primary"
                                    type="submit"
                                    formaction="{{ path('rjLangageIde') }}"
                                    formmethod="get"
                            >
                                Récupérer langage avec Ide
                            </button>
                        </div>

                        <div class="mb-3">
                            <button
                                    class="btn btn-primary"
                                    type="submit"
                                    formaction="{{ path('rjLangageDelete') }}"
                                    formmethod="get"
                            >
                                Supprimer langage
                            </button>
                        </div>

                    </form>

                    {% if langage is defined %}
                        <hr>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">id: {{ langage.id }}</li>
                            <li class="list-group-item">nom: {{ langage.nom }}</li>
                            <li class="list-group-item">caractéristiques: {{ langage.caracteristiques }}</li>
                        </ul>

                        {% if  ides is defined %}
                            <div class="card-columns"></div>

                            {% for ide in ides %}
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Ide associé</h5>
                                    </div>

                                    <div class="card-body">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">id: {{ ide.id }}</li>
                                            <li class="list-group-item">nom: {{ ide.nom }}</li>
                                            <li class="list-group-item">
                                                caractéristiques: {{ ide.caracteristiques }}</li>
                                        </ul>
                                    </div>

                                </div>

                            {% endfor %}
                        {% endif %}

                    {% endif %}


                </div>
            </div>
        {% endif %}

        {#        create langage #}
        <div class="card">
            <div class="card-header">
                <h5>Créer langage:</h5>
            </div>
            <div class="card-body">
                <form action="{{ path('RestJavaCreateCategorie') }}" method="post">
                    <div class="mb-3">
                        <label class="col-form-label">nom</label>
                        <input type="text"
                               class="form-control"
                               name="nom"
                               required
                        >
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">caractéristiques</label>
                        <input type="text"
                               class="form-control"
                               name="caracteristiques"
                               required
                        >
                    </div>
                    <button class="btn btn-primary" type="submit">Créer langage</button>
                </form>

                {% if langageCreated is defined %}
                    <hr>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">id: {{ langageCreated.id }}</li>
                        <li class="list-group-item">nom: {{ langageCreated.nom }}</li>
                        <li class="list-group-item">caractéristiques: {{ langageCreated.caracteristiques }}</li>
                    </ul>

                {% endif %}


            </div>
        </div>


    </div>

{% endblock %}