<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>


    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<header class="navbar navbar-dark bg-primary navbar-expand-lg  bd-navbar sticky-top">
    <nav class="container-xxl bd-gutter flex-wrap flex-lg-nowrap">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('accueil') }}">Accueil</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        API SOAP Php
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Méthodes disponibles</a></li>
                        <li><a class="dropdown-item" href="{{ path('SoapPHpShow') }}">Catégorie</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{ path('commandeShow') }}">Commande</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('RestJavaShow') }}">API REST Java</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('appelSoapJava') }}">API SOAP Java</a>
                </li>
            </ul>

        </div>
    </nav>
</header>


<div class="container-xxl bd-gutter mt-3 my-md-4 bd-layout">
    {% if exception is defined %}
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Il y a une exception</h4>
            <hr>
            <p>Message d'erreur: {{ exception.getMessage() }}</p>
            <p>Fichier: {{ exception.getFile() }}</p>
            <p>Ligne: {{ exception.getLine() }}</p>
        </div>

    {% endif %}

    {% block body %}
    {% endblock %}
</div>

</body>
</html>
